.bodyContainer {
  height: auto;
  background-color: #e9ebf8;

  padding: 20px;
}

.cardContainer {
  height: 13rem;

  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  //display: -webkit-box;
  -webkit-box-orient: vertical;
}